#mainbodygame{
    margin-left: 260px;
    margin-top: 50px;
  }

  .head{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .head li{
    list-style: none;
    margin-right: 10px;

  }

  .head p{
    margin-top: 10px;
    margin-left: 5px;
  }

  .card1{
   display: flex;
   padding: 5px;
   overflow: auto;
  }

  .card::-webkit-scrollbar{
    display: none;
  }

  .fcard{
    margin: 5px;
    width: 120px;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 8px;
    
  }

  .fcard:hover{
   
    cursor: pointer;

  }

  .fcard img{
    height: 100%;
    width: 100%;
  }

  .fcard .text .pick{
    
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    background-color: #4381df;
    color:#ffffff
  }


  .fcard .text .pick:hover{
    background-color: #275dad;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }


  @media (width: 2560px) {
    .card1{
      justify-content: space-between;
      margin: 10px;
      overflow: auto;
    }

    .card1::-webkit-scrollbar
    {
      display: none;
    }
    
    .head li{
      list-style: none;
      margin-right: 10px;
      font-size: 60px;
  
    }

    .head h3{
      margin-top: 20px;
      font-size: 40px;
    }
  
    .head p{
      margin-top: 20px;
      margin-left: 5px;
      font-size: 50px;
    }

    .fcard{
      width: 280px;
      align-items: center;
      text-align: center;
    }

    .fcard .text{
      font-size: 30px;
    }

    .fcard .text .pick{
      width: auto;
    }


  }

  
@media (max-width: 1080px) {
  .fcard{
    width: 200px;
    align-items: center;
    text-align: center;
  }

  .fcard .text{
    font-size: 12px;
  }


  .fcard .text h6{
    font-size: 10px;
  }

  .fcard .text .pick{
    width: 70px;
  }
}

@media (max-width:540px) {
  #mainbodygame{
    margin-left: 10px;
    margin-top: 25px;
  }
}


@media (max-width:425px) {
  #mainbodygame{
    margin-left: 10px;
    margin-top: 25px;
  }


  .head li{
    list-style: none;
    margin-right: 10px;
    font-size: 20px;

  }

  .head h3{
    margin-top: 20px;
    font-size: 15px;
  }

  .head p{
    margin-top: 30px;
    margin-left: 5px;
    font-size: 15px;
  }


}



@media (max-width:375px) {
  .head li{
    list-style: none;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 15px;

  }

  .head h3{
    margin-top: 20px;
    font-size: 12px;
  }

  .head p{
    margin-top: 30px;
    margin-left: 5px;
    font-size: 12px;
  }
}


@media (max-width:320px) {
  .head li{
    list-style: none;
    margin-top: 10px;
    margin-right: 8px;
    font-size: 15px;

  }

  .head h3{
    margin-top: 20px;
    font-size: 10px;
  }

  .head p{
    margin-top: 25px;
    margin-left: 5px;
    font-size: 10px;
  }
}


@media (max-width:320px) {
  .head li{
    list-style: none;
    margin-top: 10px;
    margin-right: 8px;
    font-size: 15px;

  }

  .head h3{
    margin-top: 20px;
    font-size: 10px;
  }

  .head p{
    margin-top: 28px;
    margin-left: 5px;
    font-size: 8px;
  }
}
  


  