footer{
    margin-left: 260px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
  }
  
  footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  footer .logo{
    margin-bottom: 30px;
  }
  
  footer h4{
    font-size: 14px;
    padding-bottom: 20px;
  }
  
  footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin: 0 0 8px 0;
  }
  
  footer .follow{
    margin-top: 20px;
  }
  
  footer .follow{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
  }
  
  footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
    width: 40%;
  }
  
  footer .install img{
    width: 40%;
    margin: 10px 0 15px 0;
  }
  
  footer .follow i:hover,
  footer a:hover{
    color: #088178;
  }
  
  footer .copyright{
    width: 95%;
    text-align: center;
  }
  
  @media (width: 2560px) {
    footer h4{
      font-size: 50px;
     
    }
    
    footer a{
      font-size: 50px;
    }

    footer {
      width: 90%;
    
    }
    
  }

  @media (max-width:540px) {
    footer{
      margin-left: 10px;
      width: 92%;
      margin-bottom: 10px;
    }
  }

  @media (max-width:425px) {
    footer{
      margin-left: 10px;
      width: 92%;
      margin-bottom: 10px;
    }
  }


  @media (max-width:375px) {
    footer{
      margin-left: 10px;
      width: 92%;
    }


    footer h4{
      font-size: 10px;
      padding-bottom: 20px;
    }
    
    footer a{
      font-size: 11px;
      text-decoration: none;
      color: #222;
      margin: 0 0 8px 0;
    }

    footer p{
      font-size: 10px;
    }
    
  }

